<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <div >
        <div><label >Login</label></div>
        <div style="margin:20px">
            <input type="text" placeholder="Login" id="login" value="{{ usernow.login }}">
        </div>
        <div><label >Password</label></div>
        <div style = "margin:20px">
            <input type="password" placeholder="Password" id="password" value="{{ usernow.password }}">
        </div>
        <div><label >Nickname</label></div>
        <div style="margin:20px">
            <input type="text" placeholder="Nickname" id="nickname" value="{{ usernow.nickname }}">
        </div>
        <div><label >Firstname</label></div>
         <div style="margin:20px">
            <input type="text" placeholder="Firstname" id="firstname" value="{{ usernow.firstname }}">
        </div>
        <div><label >Lastname</label></div>
        <div style="margin:20px">
            <input type="text" placeholder="Lastname" id="lastname" value="{{ usernow.lastname }}">
        </div>
        <div><label >Permission</label></div>
        <div style="margin:20px">
            <input type="text" placeholder="Permission" id="permission" value="{{ usernow.permission }}">
        </div>
        <div><label >Age</label></div>
         <div style="margin:20px">
            <input type="text" placeholder="Age" id="age" value="{{ usernow.age }}">
        </div>
        <div><label >Id</label></div>
         <div style="margin:20px">
            <input type="text" placeholder="Id" id="id_user" value="{{ usernow.id_user }}">
        </div>
        <input type="button" value="Save" onclick="return save()">
        <label id="error"></label>
    </div>
</form>
<script src="/static/js/edit.js"></script>
</body>
</html>