<html>
  <head>
    <title>login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
     <p id="demo"></p>
     <p>{{demo}}</p>
    <div id="cont">

      <h1>Please login</h1>
      <br>
        <input type="text" placeholder="Login" name="login" id="login" >
        <input type="password" placeholder="Password" name="password" id="password">
        <button onclick="login()">Login</button>
      <p id="error"></p>
    </div>
   <script src="/static/js/login.js"></script>
  </body>
</html>

